# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code history / local history
.history/

# Virtual environment
venv/
.venv/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

data/